USE [master]
GO
/****** Object:  Database [ClothingShop]    Script Date: 8/29/2026 10:10:15 AM ******/
CREATE DATABASE [ClothingShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClothingShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ClothingShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClothingShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ClothingShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClothingShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClothingShop]
GO
/****** Object:  Table [dbo].[address]    Script Date: 8/29/2026 10:10:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[street] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NOT NULL,
	[district] [nvarchar](100) NULL,
	[country] [nvarchar](100) NOT NULL,
	[is_default] [bit] NOT NULL,
	[ghn_province_id] [int] NULL,
	[ghn_district_id] [int] NULL,
	[ghn_ward_code] [varchar](20) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[app_order]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[order_date] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[total_price] [decimal](18, 2) NULL,
	[payment_method] [nvarchar](20) NOT NULL,
	[is_paid] [bit] NOT NULL,
	[delivered_at] [datetime] NULL,
	[shipped_at] [datetime] NULL,
	[tracking_code] [nvarchar](50) NULL,
	[shipping_address_id] [int] NULL,
	[billing_address_id] [int] NULL,
	[order_type] [nvarchar](20) NOT NULL,
	[cashier_id] [int] NULL,
	[shipping_fee] [decimal](18, 2) NULL,
	[cancel_reason] [nvarchar](30) NULL,
	[cancel_note] [nvarchar](255) NULL,
	[cancelled_by] [int] NULL,
	[cancelled_at] [datetime] NULL,
	[order_code] [varchar](12) NOT NULL,
	[guest_email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[app_user]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[enabled] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[activation_token] [varchar](100) NULL,
	[activation_expires_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_item]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[collection]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[collection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[cover_image] [nvarchar](500) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[color]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[color](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[employee_code] [nvarchar](20) NOT NULL,
	[hire_date] [date] NULL,
	[is_active] [bit] NOT NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goods_receipt]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goods_receipt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](30) NOT NULL,
	[supplier_name] [nvarchar](150) NOT NULL,
	[note] [nvarchar](500) NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goods_receipt_item]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goods_receipt_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[goods_receipt_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_cost_price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[message] [nvarchar](500) NOT NULL,
	[link] [nvarchar](255) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[variant_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[original_price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_voucher]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_voucher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[voucher_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[discount_amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_token]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_token](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](255) NOT NULL,
	[user_id] [int] NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[is_deleted] [bit] NOT NULL,
	[category_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[weight] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_collection]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_collection](
	[product_id] [int] NOT NULL,
	[collection_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[collection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_image]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[product_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_sale]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_sale](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[sale_batch_id] [int] NULL,
	[discount_percent] [decimal](5, 2) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_variant]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_variant](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[size_id] [int] NULL,
	[color_id] [int] NULL,
	[sku] [nvarchar](50) NULL,
	[stock] [int] NOT NULL,
	[cost_price] [decimal](18, 2) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_batch]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_batch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[discount_percent] [decimal](5, 2) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_movement_log]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_movement_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[variant_id] [int] NOT NULL,
	[change_type] [nvarchar](20) NOT NULL,
	[change_qty] [int] NOT NULL,
	[balance_after] [int] NOT NULL,
	[ref_type] [nvarchar](30) NULL,
	[ref_id] [int] NULL,
	[note] [nvarchar](255) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[variant_image]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[variant_image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[variant_id] [int] NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[max_discount] [decimal](18, 2) NULL,
	[min_order_value] [decimal](18, 2) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[is_active] [bit] NOT NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 8/29/2026 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[added_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([id], [user_id], [full_name], [phone], [street], [city], [district], [country], [is_default], [ghn_province_id], [ghn_district_id], [ghn_ward_code], [active]) VALUES (1, 3, N'Nguyễn Văn A', N'0901234567', N'12 Nguyễn Trãi', N'Hà Nội', N'Thanh Xuân', N'Vietnam', 1, 201, 1542, N'1B2107', 1)
INSERT [dbo].[address] ([id], [user_id], [full_name], [phone], [street], [city], [district], [country], [is_default], [ghn_province_id], [ghn_district_id], [ghn_ward_code], [active]) VALUES (2, 3, N'Nguyễn Văn A', N'0901234567', N'45 Láng Hạ', N'Hà Nội', N'Đống Đa', N'Vietnam', 0, 201, 1487, N'1A0113', 1)
INSERT [dbo].[address] ([id], [user_id], [full_name], [phone], [street], [city], [district], [country], [is_default], [ghn_province_id], [ghn_district_id], [ghn_ward_code], [active]) VALUES (3, 4, N'Trần Thị B', N'0912345678', N'88 Lê Văn Việt', N'TP.HCM', N'Quận 9', N'Vietnam', 1, 202, 3695, N'90737', 1)
SET IDENTITY_INSERT [dbo].[address] OFF
GO
SET IDENTITY_INSERT [dbo].[app_order] ON 

INSERT [dbo].[app_order] ([id], [customer_id], [order_date], [status], [total_price], [payment_method], [is_paid], [delivered_at], [shipped_at], [tracking_code], [shipping_address_id], [billing_address_id], [order_type], [cashier_id], [shipping_fee], [cancel_reason], [cancel_note], [cancelled_by], [cancelled_at], [order_code], [guest_email]) VALUES (1, 3, CAST(N'2026-07-29T13:12:05.773' AS DateTime), N'COMPLETED', CAST(747000.00 AS Decimal(18, 2)), N'COD', 1, NULL, NULL, NULL, 1, 1, N'ONLINE', NULL, CAST(20000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, N'CW00000001', NULL)
INSERT [dbo].[app_order] ([id], [customer_id], [order_date], [status], [total_price], [payment_method], [is_paid], [delivered_at], [shipped_at], [tracking_code], [shipping_address_id], [billing_address_id], [order_type], [cashier_id], [shipping_fee], [cancel_reason], [cancel_note], [cancelled_by], [cancelled_at], [order_code], [guest_email]) VALUES (2, 3, CAST(N'2026-08-13T13:12:05.773' AS DateTime), N'COMPLETED', CAST(549000.00 AS Decimal(18, 2)), N'VNPAY', 1, NULL, NULL, NULL, 1, 1, N'ONLINE', NULL, CAST(20000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, N'CW00000002', NULL)
SET IDENTITY_INSERT [dbo].[app_order] OFF
GO
SET IDENTITY_INSERT [dbo].[app_user] ON 

INSERT [dbo].[app_user] ([id], [username], [password], [email], [phone], [enabled], [created_at], [activation_token], [activation_expires_at]) VALUES (1, N'owner', N'{noop}owner123', N'owner@casualwear.vn', N'0900000001', 1, CAST(N'2026-08-28T13:12:05.633' AS DateTime), NULL, NULL)
INSERT [dbo].[app_user] ([id], [username], [password], [email], [phone], [enabled], [created_at], [activation_token], [activation_expires_at]) VALUES (2, N'admin', N'{noop}admin123', N'admin@casualwear.vn', N'0900000002', 1, CAST(N'2026-08-28T13:12:05.633' AS DateTime), NULL, NULL)
INSERT [dbo].[app_user] ([id], [username], [password], [email], [phone], [enabled], [created_at], [activation_token], [activation_expires_at]) VALUES (3, N'nguyenvana', N'{noop}pass1234', N'nguyenvana@gmail.com', N'0901234567', 1, CAST(N'2026-08-28T13:12:05.633' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[app_user] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [customer_id], [created_at]) VALUES (1, 3, CAST(N'2026-08-28T13:12:05.710' AS DateTime))
INSERT [dbo].[cart] ([id], [customer_id], [created_at]) VALUES (2, 4, CAST(N'2026-08-28T13:12:05.710' AS DateTime))
INSERT [dbo].[cart] ([id], [customer_id], [created_at]) VALUES (3, 5, CAST(N'2026-08-28T13:12:05.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[cart_item] ON 

INSERT [dbo].[cart_item] ([id], [cart_id], [variant_id], [quantity]) VALUES (1, 1, 2, 2)
INSERT [dbo].[cart_item] ([id], [cart_id], [variant_id], [quantity]) VALUES (2, 1, 26, 1)
INSERT [dbo].[cart_item] ([id], [cart_id], [variant_id], [quantity]) VALUES (3, 2, 16, 1)
SET IDENTITY_INSERT [dbo].[cart_item] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name], [description]) VALUES (1, N'Áo thun', N'Áo thun nam các loại chất liệu cotton cao cấp')
INSERT [dbo].[category] ([id], [name], [description]) VALUES (2, N'Áo sơ mi', N'Áo sơ mi nam công sở và dạo phố phong cách')
INSERT [dbo].[category] ([id], [name], [description]) VALUES (3, N'Quần', N'Quần nam các loại từ jean đến sweater')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[collection] ON 

INSERT [dbo].[collection] ([id], [name], [description], [cover_image], [start_date], [end_date], [is_active], [created_at]) VALUES (1, N'Thu Đông 2026', N'Đón gió mùa với những thiết kế ấm áp, thoải mái nhưng không kém phần phong cách. Tổng hợp các mẫu Áo len, Sweater và Hoodie nỉ bông mới nhất.', N'https://res.cloudinary.com/dozzwbiww/image/upload/v1787972071/collections/uroxqhugvphfoxetpmsh.jpg', CAST(N'2026-08-29' AS Date), CAST(N'2026-09-30' AS Date), 1, CAST(N'2026-08-28T22:35:49.117' AS DateTime))
INSERT [dbo].[collection] ([id], [name], [description], [cover_image], [start_date], [end_date], [is_active], [created_at]) VALUES (2, N'Thanh Lịch Công Sở', N'Tuyển tập các mẫu sơ mi và quần âu chuẩn form, chất liệu chống nhăn cao cấp. Giải pháp hoàn hảo giúp phái mạnh tự tin, lịch lãm nơi văn phòng.', N'https://res.cloudinary.com/dozzwbiww/image/upload/v1787972165/collections/ncam2m6cxtrssblc5p08.jpg', NULL, NULL, 1, CAST(N'2026-08-29T09:55:58.080' AS DateTime))
INSERT [dbo].[collection] ([id], [name], [description], [cover_image], [start_date], [end_date], [is_active], [created_at]) VALUES (3, N'Năng Động Xuống Phố', N'Phong cách đường phố cá tính với các item rộng rãi, bụi bặm. Phù hợp cho những buổi dạo phố, đi chơi hay cà phê cuối tuần cùng bạn bè.', N'https://res.cloudinary.com/dozzwbiww/image/upload/v1787972290/collections/wmygira2cxmmlturvrne.jpg', NULL, NULL, 1, CAST(N'2026-08-29T09:58:03.493' AS DateTime))
SET IDENTITY_INSERT [dbo].[collection] OFF
GO
SET IDENTITY_INSERT [dbo].[color] ON 

INSERT [dbo].[color] ([id], [name]) VALUES (2, N'Đen')
INSERT [dbo].[color] ([id], [name]) VALUES (6, N'Đỏ')
INSERT [dbo].[color] ([id], [name]) VALUES (8, N'Nâu sáng')
SET IDENTITY_INSERT [dbo].[color] OFF
GO
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([id], [user_id], [employee_code], [hire_date], [is_active], [note]) VALUES (1, 1, N'NV0001', CAST(N'2023-01-01' AS Date), 1, N'Owner - chủ cửa hàng')
INSERT [dbo].[employee] ([id], [user_id], [employee_code], [hire_date], [is_active], [note]) VALUES (2, 2, N'NV0002', CAST(N'2023-02-01' AS Date), 1, N'Admin - quản trị hệ thống')
INSERT [dbo].[employee] ([id], [user_id], [employee_code], [hire_date], [is_active], [note]) VALUES (3, 8, N'NV0003', CAST(N'2024-06-01' AS Date), 1, N'Cashier - thu ngân quầy 1')
SET IDENTITY_INSERT [dbo].[employee] OFF
GO
SET IDENTITY_INSERT [dbo].[goods_receipt] ON 

INSERT [dbo].[goods_receipt] ([id], [code], [supplier_name], [note], [created_by], [created_at], [total_amount]) VALUES (1, N'PN-20260801-001', N'Xưởng may Thành Công', N'Nhập bổ sung Áo thun Basic', 2, CAST(N'2026-08-23T13:12:05.737' AS DateTime), CAST(4750000.00 AS Decimal(18, 2)))
INSERT [dbo].[goods_receipt] ([id], [code], [supplier_name], [note], [created_by], [created_at], [total_amount]) VALUES (2, N'PN-20260803-001', N'Xưởng may An Phát', N'Nhập hàng Hoodie mùa lạnh', 2, CAST(N'2026-08-26T13:12:05.737' AS DateTime), CAST(2850000.00 AS Decimal(18, 2)))
INSERT [dbo].[goods_receipt] ([id], [code], [supplier_name], [note], [created_by], [created_at], [total_amount]) VALUES (3, N'PN-20260828-001', N'Xưởng May Mặc An Phú', N'Chuyên hàng thun cotton 100% và nỉ bông dày dặn. Giao hàng trong 3-5 ngày.', 2, CAST(N'2026-08-28T13:25:30.710' AS DateTime), CAST(650000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[goods_receipt] OFF
GO
SET IDENTITY_INSERT [dbo].[goods_receipt_item] ON 

INSERT [dbo].[goods_receipt_item] ([id], [goods_receipt_id], [variant_id], [quantity], [unit_cost_price]) VALUES (1, 1, 2, 30, CAST(95000.00 AS Decimal(18, 2)))
INSERT [dbo].[goods_receipt_item] ([id], [goods_receipt_id], [variant_id], [quantity], [unit_cost_price]) VALUES (2, 1, 3, 20, CAST(95000.00 AS Decimal(18, 2)))
INSERT [dbo].[goods_receipt_item] ([id], [goods_receipt_id], [variant_id], [quantity], [unit_cost_price]) VALUES (3, 2, 33, 10, CAST(285000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[goods_receipt_item] OFF
GO
SET IDENTITY_INSERT [dbo].[notification] ON 

INSERT [dbo].[notification] ([id], [user_id], [message], [link], [is_read], [created_at]) VALUES (1, 3, N'Đơn hàng #1 của bạn đã hoàn thành.', N'/order/detail/1', 1, CAST(N'2026-08-28T13:12:05.820' AS DateTime))
INSERT [dbo].[notification] ([id], [user_id], [message], [link], [is_read], [created_at]) VALUES (2, 3, N'Đơn hàng #3 đã được gửi đi! Mã vận đơn GHN: GHN-20250001. Tra cứu tại ghn.vn', N'/order/detail/3', 0, CAST(N'2026-08-28T13:12:05.820' AS DateTime))
INSERT [dbo].[notification] ([id], [user_id], [message], [link], [is_read], [created_at]) VALUES (3, 4, N'Đơn hàng #5 của bạn đã hoàn thành.', N'/order/detail/5', 1, CAST(N'2026-08-28T13:12:05.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[notification] OFF
GO
SET IDENTITY_INSERT [dbo].[order_detail] ON 

INSERT [dbo].[order_detail] ([id], [order_id], [variant_id], [quantity], [price], [original_price]) VALUES (1, 1, 2, 2, CAST(199000.00 AS Decimal(18, 2)), CAST(199000.00 AS Decimal(18, 2)))
INSERT [dbo].[order_detail] ([id], [order_id], [variant_id], [quantity], [price], [original_price]) VALUES (2, 1, 26, 1, CAST(549000.00 AS Decimal(18, 2)), CAST(549000.00 AS Decimal(18, 2)))
INSERT [dbo].[order_detail] ([id], [order_id], [variant_id], [quantity], [price], [original_price]) VALUES (3, 2, 27, 1, CAST(549000.00 AS Decimal(18, 2)), CAST(549000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[order_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[order_voucher] ON 

INSERT [dbo].[order_voucher] ([id], [order_id], [voucher_id], [customer_id], [discount_amount]) VALUES (1, 1, 1, 3, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[order_voucher] ([id], [order_id], [voucher_id], [customer_id], [discount_amount]) VALUES (2, 5, 2, 4, CAST(100000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[order_voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [name], [description], [price], [is_deleted], [category_id], [created_at], [weight]) VALUES (1, N'Áo thun Basic Trắng', N'Áo thun cotton 100% thoáng mát, form regular fit unisex. Chất liệu mềm mại, thấm hút mồ hôi tốt, phù hợp mặc hàng ngày.', CAST(199000.00 AS Decimal(18, 2)), 0, 1, CAST(N'2026-08-28T13:12:05.670' AS DateTime), 180)
INSERT [dbo].[product] ([id], [name], [description], [price], [is_deleted], [category_id], [created_at], [weight]) VALUES (2, N'Áo thun Basic Đen', N'Áo thun cotton 100% thoáng mát, form regular fit unisex. Màu đen cổ điển dễ phối đồ, bền màu sau nhiều lần giặt.', CAST(199000.00 AS Decimal(18, 2)), 0, 1, CAST(N'2026-08-28T13:12:05.670' AS DateTime), 180)
INSERT [dbo].[product] ([id], [name], [description], [price], [is_deleted], [category_id], [created_at], [weight]) VALUES (3, N'Áo thun In Mèo Trắng', N'Áo thun cotton in hình mèo dễ thương độc đáo, unisex. Họa tiết sắc nét không phai màu, phong cách trẻ trung năng động.', CAST(249000.00 AS Decimal(18, 2)), 0, 1, CAST(N'2026-08-28T13:12:05.670' AS DateTime), 190)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
INSERT [dbo].[product_collection] ([product_id], [collection_id]) VALUES (1, 3)
INSERT [dbo].[product_collection] ([product_id], [collection_id]) VALUES (2, 1)
INSERT [dbo].[product_collection] ([product_id], [collection_id]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[product_image] ON 

INSERT [dbo].[product_image] ([id], [image_url], [product_id]) VALUES (1, N'https://res.cloudinary.com/dozzwbiww/image/upload/v1774935624/a626f69845dfc4819dce20_s7ielq.jpg', 1)
INSERT [dbo].[product_image] ([id], [image_url], [product_id]) VALUES (2, N'https://res.cloudinary.com/dozzwbiww/image/upload/v1774935621/c39a86253562b43ced7321_wm3mqm.jpg', 1)
INSERT [dbo].[product_image] ([id], [image_url], [product_id]) VALUES (3, N'https://res.cloudinary.com/dozzwbiww/image/upload/v1774935622/c665cfd87c9ffdc1a48e19_mcx5ck.jpg', 2)
SET IDENTITY_INSERT [dbo].[product_image] OFF
GO
SET IDENTITY_INSERT [dbo].[product_sale] ON 

INSERT [dbo].[product_sale] ([id], [product_id], [sale_batch_id], [discount_percent], [start_date], [end_date], [is_active], [created_at]) VALUES (1, 9, 1, CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-08-23T13:12:05.730' AS DateTime), CAST(N'2026-08-30T13:12:05.730' AS DateTime), 1, CAST(N'2026-08-28T13:12:05.730' AS DateTime))
INSERT [dbo].[product_sale] ([id], [product_id], [sale_batch_id], [discount_percent], [start_date], [end_date], [is_active], [created_at]) VALUES (2, 1, 2, CAST(15.00 AS Decimal(5, 2)), CAST(N'2026-08-27T13:12:05.730' AS DateTime), CAST(N'2026-09-03T13:12:05.730' AS DateTime), 1, CAST(N'2026-08-28T13:12:05.730' AS DateTime))
INSERT [dbo].[product_sale] ([id], [product_id], [sale_batch_id], [discount_percent], [start_date], [end_date], [is_active], [created_at]) VALUES (3, 5, NULL, CAST(20.00 AS Decimal(5, 2)), CAST(N'2026-07-19T13:12:05.730' AS DateTime), CAST(N'2026-07-29T13:12:05.730' AS DateTime), 0, CAST(N'2026-08-28T13:12:05.730' AS DateTime))
SET IDENTITY_INSERT [dbo].[product_sale] OFF
GO
SET IDENTITY_INSERT [dbo].[product_variant] ON 

INSERT [dbo].[product_variant] ([id], [product_id], [size_id], [color_id], [sku], [stock], [cost_price], [created_at]) VALUES (1, 1, 1, 1, N'AT-WHT-S', 20, CAST(95000.00 AS Decimal(18, 2)), CAST(N'2026-08-28T13:12:05.690' AS DateTime))
INSERT [dbo].[product_variant] ([id], [product_id], [size_id], [color_id], [sku], [stock], [cost_price], [created_at]) VALUES (2, 1, 2, 1, N'AT-WHT-M', 35, CAST(95000.00 AS Decimal(18, 2)), CAST(N'2026-08-28T13:12:05.690' AS DateTime))
INSERT [dbo].[product_variant] ([id], [product_id], [size_id], [color_id], [sku], [stock], [cost_price], [created_at]) VALUES (3, 1, 3, 1, N'AT-WHT-L', 28, CAST(95000.00 AS Decimal(18, 2)), CAST(N'2026-08-28T13:12:05.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[product_variant] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name]) VALUES (1, N'ROLE_ADMIN')
INSERT [dbo].[role] ([id], [name]) VALUES (4, N'ROLE_CASHIER')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'ROLE_CUSTOMER')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[sale_batch] ON 

INSERT [dbo].[sale_batch] ([id], [name], [discount_percent], [start_date], [end_date], [created_at]) VALUES (1, N'Flash Sale Cuối Tuần', CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-08-23T13:12:05.723' AS DateTime), CAST(N'2026-08-30T13:12:05.723' AS DateTime), CAST(N'2026-08-28T13:12:05.723' AS DateTime))
INSERT [dbo].[sale_batch] ([id], [name], [discount_percent], [start_date], [end_date], [created_at]) VALUES (2, N'Sale Hè 2026', CAST(15.00 AS Decimal(5, 2)), CAST(N'2026-08-27T13:12:05.723' AS DateTime), CAST(N'2026-09-03T13:12:05.723' AS DateTime), CAST(N'2026-08-28T13:12:05.723' AS DateTime))
INSERT [dbo].[sale_batch] ([id], [name], [discount_percent], [start_date], [end_date], [created_at]) VALUES (3, N'Đón Thu Sang', CAST(20.00 AS Decimal(5, 2)), CAST(N'2026-08-29T22:28:00.000' AS DateTime), CAST(N'2026-09-10T22:29:00.000' AS DateTime), CAST(N'2026-08-28T22:29:19.257' AS DateTime))
SET IDENTITY_INSERT [dbo].[sale_batch] OFF
GO
SET IDENTITY_INSERT [dbo].[size] ON 

INSERT [dbo].[size] ([id], [name]) VALUES (3, N'L')
INSERT [dbo].[size] ([id], [name]) VALUES (2, N'M')
INSERT [dbo].[size] ([id], [name]) VALUES (1, N'S')
SET IDENTITY_INSERT [dbo].[size] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_movement_log] ON 

INSERT [dbo].[stock_movement_log] ([id], [variant_id], [change_type], [change_qty], [balance_after], [ref_type], [ref_id], [note], [created_by], [created_at]) VALUES (1, 2, N'IMPORT', 30, 35, N'GOODS_RECEIPT', 1, N'Nhập từ PN-20260801-001', 2, CAST(N'2026-08-23T13:12:05.747' AS DateTime))
INSERT [dbo].[stock_movement_log] ([id], [variant_id], [change_type], [change_qty], [balance_after], [ref_type], [ref_id], [note], [created_by], [created_at]) VALUES (2, 3, N'IMPORT', 20, 28, N'GOODS_RECEIPT', 1, N'Nhập từ PN-20260801-001', 2, CAST(N'2026-08-23T13:12:05.747' AS DateTime))
INSERT [dbo].[stock_movement_log] ([id], [variant_id], [change_type], [change_qty], [balance_after], [ref_type], [ref_id], [note], [created_by], [created_at]) VALUES (3, 33, N'IMPORT', 10, 20, N'GOODS_RECEIPT', 2, N'Nhập từ PN-20260803-001', 2, CAST(N'2026-08-26T13:12:05.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[stock_movement_log] OFF
GO
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (1, 3)
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[variant_image] ON 

INSERT [dbo].[variant_image] ([id], [variant_id], [image_url], [sort_order]) VALUES (1, 1, N'https://res.cloudinary.com/dozzwbiww/image/upload/v1774935624/a626f69845dfc4819dce20_s7ielq.jpg', 1)
INSERT [dbo].[variant_image] ([id], [variant_id], [image_url], [sort_order]) VALUES (2, 2, N'https://res.cloudinary.com/dozzwbiww/image/upload/v1774935624/a626f69845dfc4819dce20_s7ielq.jpg', 1)
INSERT [dbo].[variant_image] ([id], [variant_id], [image_url], [sort_order]) VALUES (3, 3, N'https://res.cloudinary.com/dozzwbiww/image/upload/v1774935621/c39a86253562b43ced7321_wm3mqm.jpg', 2)
SET IDENTITY_INSERT [dbo].[variant_image] OFF
GO
SET IDENTITY_INSERT [dbo].[voucher] ON 

INSERT [dbo].[voucher] ([id], [code], [description], [discount_percent], [max_discount], [min_order_value], [start_date], [end_date], [is_active], [usage_limit], [used_count]) VALUES (1, N'WELCOME10', N'Giảm 10% cho khách hàng mới', CAST(10.00 AS Decimal(5, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(N'2026-08-28T13:12:05.720' AS DateTime), CAST(N'2026-09-27T13:12:05.720' AS DateTime), 1, NULL, 0)
INSERT [dbo].[voucher] ([id], [code], [description], [discount_percent], [max_discount], [min_order_value], [start_date], [end_date], [is_active], [usage_limit], [used_count]) VALUES (2, N'SUMMER20', N'Giảm 20% mùa hè – tối đa 100k', CAST(20.00 AS Decimal(5, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(N'2026-08-28T13:12:05.720' AS DateTime), CAST(N'2026-10-27T13:12:05.720' AS DateTime), 1, NULL, 0)
INSERT [dbo].[voucher] ([id], [code], [description], [discount_percent], [max_discount], [min_order_value], [start_date], [end_date], [is_active], [usage_limit], [used_count]) VALUES (3, N'FREESHIP5', N'Giảm 5% không giới hạn đơn tối thiểu', CAST(5.00 AS Decimal(5, 2)), NULL, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-08-28T13:12:05.720' AS DateTime), CAST(N'2026-11-26T13:12:05.720' AS DateTime), 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[wishlist] ON 

INSERT [dbo].[wishlist] ([id], [user_id], [product_id], [added_at]) VALUES (1, 3, 5, CAST(N'2026-08-28T13:12:05.813' AS DateTime))
INSERT [dbo].[wishlist] ([id], [user_id], [product_id], [added_at]) VALUES (2, 3, 10, CAST(N'2026-08-28T13:12:05.813' AS DateTime))
INSERT [dbo].[wishlist] ([id], [user_id], [product_id], [added_at]) VALUES (3, 4, 8, CAST(N'2026-08-28T13:12:05.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[wishlist] OFF
GO
/****** Object:  Index [IX_app_order_cancelled_by]    Script Date: 8/29/2026 10:10:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_app_order_cancelled_by] ON [dbo].[app_order]
(
	[cancelled_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_app_order_order_code]    Script Date: 8/29/2026 10:10:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_app_order_order_code] ON [dbo].[app_order]
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__app_user__AB6E6164FB59BF93]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[app_user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__app_user__F3DBC5720560F578]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[app_user] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_app_user_activation_token]    Script Date: 8/29/2026 10:10:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_app_user_activation_token] ON [dbo].[app_user]
(
	[activation_token] ASC
)
WHERE ([activation_token] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_app_user_phone]    Script Date: 8/29/2026 10:10:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_app_user_phone] ON [dbo].[app_user]
(
	[phone] ASC
)
WHERE ([phone] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__color__72E12F1BF86B4061]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[color] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__B0AA7345E96DBE8A]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[employee] ADD UNIQUE NONCLUSTERED 
(
	[employee_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__employee__B9BE370E4EB5BE89]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[employee] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__goods_re__357D4CF99EC6503C]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[goods_receipt] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_order_voucher]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[order_voucher] ADD  CONSTRAINT [UQ_order_voucher] UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_voucher]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[order_voucher] ADD  CONSTRAINT [UQ_user_voucher] UNIQUE NONCLUSTERED 
(
	[customer_id] ASC,
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__password__B9BE370EF8529E83]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[password_reset_token] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__password__CA90DA7A8188AAF1]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[password_reset_token] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_sale_batch]    Script Date: 8/29/2026 10:10:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_product_sale_batch] ON [dbo].[product_sale]
(
	[sale_batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_sale_dates]    Script Date: 8/29/2026 10:10:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_product_sale_dates] ON [dbo].[product_sale]
(
	[start_date] ASC,
	[end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_sale_product]    Script Date: 8/29/2026 10:10:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_product_sale_product] ON [dbo].[product_sale]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__product___DDDF4BE77A619544]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[product_variant] ADD UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__role__72E12F1B5FB7F0DC]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[role] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__size__72E12F1B51BFCD7D]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[size] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_movement_created_at]    Script Date: 8/29/2026 10:10:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_stock_movement_created_at] ON [dbo].[stock_movement_log]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_stock_movement_variant]    Script Date: 8/29/2026 10:10:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_stock_movement_variant] ON [dbo].[stock_movement_log]
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__voucher__357D4CF94A19D7A7]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[voucher] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_wishlist]    Script Date: 8/29/2026 10:10:16 AM ******/
ALTER TABLE [dbo].[wishlist] ADD  CONSTRAINT [UQ_wishlist] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[address] ADD  DEFAULT (N'Vietnam') FOR [country]
GO
ALTER TABLE [dbo].[address] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[address] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[app_order] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[app_order] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[app_order] ADD  DEFAULT ('COD') FOR [payment_method]
GO
ALTER TABLE [dbo].[app_order] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[app_order] ADD  DEFAULT ('ONLINE') FOR [order_type]
GO
ALTER TABLE [dbo].[app_user] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[app_user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[collection] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[collection] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[goods_receipt] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[goods_receipt] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[goods_receipt_item] ADD  DEFAULT ((0)) FOR [unit_cost_price]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_voucher] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((300)) FOR [weight]
GO
ALTER TABLE [dbo].[product_sale] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[product_sale] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_variant] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[product_variant] ADD  DEFAULT ((0)) FOR [cost_price]
GO
ALTER TABLE [dbo].[product_variant] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[sale_batch] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[stock_movement_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[variant_image] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[wishlist] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[app_order]  WITH CHECK ADD FOREIGN KEY([billing_address_id])
REFERENCES [dbo].[address] ([id])
GO
ALTER TABLE [dbo].[app_order]  WITH CHECK ADD FOREIGN KEY([cancelled_by])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[app_order]  WITH CHECK ADD FOREIGN KEY([cashier_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[app_order]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[app_order]  WITH CHECK ADD FOREIGN KEY([shipping_address_id])
REFERENCES [dbo].[address] ([id])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[cart] ([id])
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variant] ([id])
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[goods_receipt]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[goods_receipt_item]  WITH CHECK ADD FOREIGN KEY([goods_receipt_id])
REFERENCES [dbo].[goods_receipt] ([id])
GO
ALTER TABLE [dbo].[goods_receipt_item]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variant] ([id])
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[app_order] ([id])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variant] ([id])
GO
ALTER TABLE [dbo].[order_voucher]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[order_voucher]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[app_order] ([id])
GO
ALTER TABLE [dbo].[order_voucher]  WITH CHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[voucher] ([id])
GO
ALTER TABLE [dbo].[password_reset_token]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[product_collection]  WITH CHECK ADD FOREIGN KEY([collection_id])
REFERENCES [dbo].[collection] ([id])
GO
ALTER TABLE [dbo].[product_collection]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_image]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_sale]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_sale]  WITH CHECK ADD FOREIGN KEY([sale_batch_id])
REFERENCES [dbo].[sale_batch] ([id])
GO
ALTER TABLE [dbo].[product_variant]  WITH CHECK ADD FOREIGN KEY([color_id])
REFERENCES [dbo].[color] ([id])
GO
ALTER TABLE [dbo].[product_variant]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_variant]  WITH CHECK ADD FOREIGN KEY([size_id])
REFERENCES [dbo].[size] ([id])
GO
ALTER TABLE [dbo].[stock_movement_log]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[stock_movement_log]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variant] ([id])
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[variant_image]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variant] ([id])
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[goods_receipt_item]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[product_sale]  WITH CHECK ADD CHECK  (([discount_percent]>(0) AND [discount_percent]<=(90)))
GO
ALTER TABLE [dbo].[product_sale]  WITH CHECK ADD  CONSTRAINT [CK_product_sale_dates] CHECK  (([end_date]>[start_date]))
GO
ALTER TABLE [dbo].[product_sale] CHECK CONSTRAINT [CK_product_sale_dates]
GO
ALTER TABLE [dbo].[sale_batch]  WITH CHECK ADD CHECK  (([discount_percent]>(0) AND [discount_percent]<=(90)))
GO
ALTER TABLE [dbo].[sale_batch]  WITH CHECK ADD  CONSTRAINT [CK_sale_batch_dates] CHECK  (([end_date]>[start_date]))
GO
ALTER TABLE [dbo].[sale_batch] CHECK CONSTRAINT [CK_sale_batch_dates]
GO
USE [master]
GO
